<footer >
  <div class="max-w">
    <div class="p1">
      <div class="logo">
        <svg xmlns="http://www.w3.org/2000/svg" class="fill-white" height="40" viewbox="0 96 960 960" width="40"><path d="M220 836h240V656H220v180Zm0-220h240V316H220v300Zm280 220h240V536H500v300Zm0-340h240V316H500v180ZM180 936q-24 0-42-18t-18-42V276q0-24 18-42t42-18h600q24 0 42 18t18 42v60h60v60h-60v150h60v60h-60v150h60v60h-60v60q0 24-18 42t-42 18H180Zm0-60h600V276H180v600Zm0-600v600-600Z"></path></svg>
        <span class="text-lg font-extrabold">Dashionic</span>
      </div>
      <div class="action"> 
        Ready to get started?
        <a class="btn"> 
          <span class="text-sm">Start Now</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="fill-white" height="20" viewbox="0 96 960 960" width="20"><path d="m561 814-43-42 168-168H160v-60h526L517 375l43-42 241 241-240 240Z"></path></svg>
        </a>
      </div>
    </div>
    <div class="center">
      &copy; <span id="date"></span> <a href="https://dribbble.com/shots/19822088-Solutions-Page-Couponic"><b>Dribble</b>: Solutions Page - Couponic</a> 
    </div>
  <script>document.getElementById("date").innerHTML = new Date().getFullYear();</script>
</div>
</footer>